[submodule "communication"]
	path = communication
	url = https://github.com/williamstrong/ForestArtCommunication
[submodule "image"]
	path = image
	url = https://github.com/williamstrong/ForestArtImage
[submodule "webui"]
	path = webui
	url = https://github.com/williamstrong/forestartwebui
[submodule "nginx"]
	path = nginx
	url = https://github.com/williamstrong/ForestArtServer
