[submodule "communication"]
	path = communication
	url = git@github.com:williamstrong/ForestArtCommunication.git
[submodule "image"]
	path = image
	url = git@github.com:williamstrong/ForestArtImage.git
[submodule "webui"]
	path = webui
	url = https://github.com/williamstrong/ForestArtWebui
